.navbar-custom {
  background-color: #c3dbe8 !important;
}
.custom-btn {
  border-radius: 15px !important;
  background-color: #29abe2 !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
}
.custom-btn:hover {
  background-color: #1e90d1 !important;
  color: white !important;
}
